<div style="margin: 10em;">

    <div style="margin: 2em; display: flex;    justify-content: flex-end;">
        <button mat-fab color="primary" (click)="openCreateDialog(modalCrear)">
            <mat-icon >fiber_new</mat-icon>
        </button>


    </div>


    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="Persona">
                <th mat-header-cell *matHeaderCellDef> Persona </th>
                <td mat-cell *matCellDef="let element"> {{element.cc +" "+ element.nombres}} </td>
            </ng-container>

            <ng-container matColumnDef="Profesión">
                <th mat-header-cell *matHeaderCellDef> Profesión </th>
                <td mat-cell *matCellDef="let element"> {{element.profesion}} </td>
            </ng-container>

            <ng-container matColumnDef="Genero">
                <th mat-header-cell *matHeaderCellDef> Genero </th>
                <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
            </ng-container>

            <ng-container matColumnDef="Telefono">
                <th mat-header-cell *matHeaderCellDef> Telefono </th>
                <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
            </ng-container>

            <ng-container matColumnDef="Fecha Nacimiento">
                <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha_nacimiento}} </td>
            </ng-container>


            <ng-container matColumnDef="Residencia">
                <th mat-header-cell *matHeaderCellDef> Residencia </th>
                <td mat-cell *matCellDef="let element"> {{element.direccion + " "+element.municipio }} </td>
            </ng-container>

            <ng-container matColumnDef=" ">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <label class="clickable" style="color: rgb(0, 174, 255);"
                        (click)="openModalDetail(modalDetail,element.vehiculo)">mas</label>
                    <mat-icon class="clickable" (click)="openModalEdit(modalEdit,element)">edit</mat-icon>
                    <mat-icon class="clickable" (click)="openModalEliminar(modalEliminar,element.cc)">delete</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator showFirstLastButtons   [pageSizeOptions]="[5, 10]"></mat-paginator>
    </div>
</div>



<ng-template #modalCrear>
    <app-form-persona (btnGuardarEvent)="emicionGuardar($event)" [fromCrear]="true"></app-form-persona>
</ng-template>

<ng-template #modalEdit>
    <app-form-persona (btnEditEvent)="emicionEdit($event)" [fromCrear]="false" [persona]="selectedPerson">
    </app-form-persona>
</ng-template>


<ng-template #modalEliminar>
    <h1>Esta seguro que desea eliminar?</h1>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="eliminarPersona()">Si</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #modalDetail>

    <table class="default">

        <tr>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Año</th>
        </tr>
        <tr>
            <td>{{vehiculoSelected.tipo}} </td>
            <td>{{vehiculoSelected.marca}}</td>
            <td>{{vehiculoSelected.anio}}</td>
        </tr>
    </table>


    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cerrar</button>
    </mat-dialog-actions>
</ng-template>