<form class="example-form" [formGroup]="formPersona">

    <h1>Persona</h1>
    <div>
        <div>
            <mat-form-field class="example-full-width" appearance="fill" >
                <mat-label>Cedula</mat-label>
                <input matInput formControlName="cc">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombres</mat-label>
                <input matInput formControlName="nombres">
            </mat-form-field>

           <!--  <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Genero</mat-label>
                <input matInput formControlName="sexo">
            </mat-form-field> -->

            <mat-form-field appearance="fill">
                <mat-label>Genero</mat-label>
                <mat-select formControlName="sexo">
                  <mat-option *ngFor="let genero of generos" value={{genero}}>
                    {{genero}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Profesión</mat-label>
                <input matInput formControlName="profesion">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Telefono</mat-label>
                <input matInput formControlName="telefono">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Dirección</mat-label>
                <input matInput formControlName="direccion">
            </mat-form-field>
        </div>

        <div>

            <mat-form-field appearance="fill" style="width: 20em;">
                <mat-label>Municipio</mat-label>
                <input matInput formControlName="municipio">
            </mat-form-field>


            <mat-form-field appearance="fill" style="width: 20em;">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input type="date" matInput formControlName="fecha_nacimiento">
            </mat-form-field>
        </div>
    </div>
</form>
<hr>

<h1>
    Vehiculo
</h1>
<form class="example-form" [formGroup]="formVehiculo">

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Tipo</mat-label>
            <input matInput formControlName="tipo">
        </mat-form-field>


        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Marca</mat-label>
            <input matInput formControlName="marca">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Año</mat-label>
            <input type="number" matInput placeholder="YYYY" min="1900" max="2100" formControlName="anio">
        </mat-form-field>

    </div>
</form>
<mat-dialog-actions align="end">
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button *ngIf="fromCrear" mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial
        (click)="emitGuardar()">Guardar</button>
    <button *ngIf="!fromCrear" mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="emitEdit()">Editar</button>
</mat-dialog-actions>